<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chatroom</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}"
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div>{{room}}</div>
        <a href="/homepage/">Homepage</a>
        <a href="/homepage/createroom">Create Room</a>
        <a href="/homepage/activerooms">Active Rooms</a>
    </nav>
    <script>
        socket = io()
        socket.on('connect', function() {
            socket.emit('my event', '{{room}}');
    });
    </script>
    <div class="chat_container">
        <div id="display_messages"></div>
        <div class="message_input_box">
            <button id="send" type="submit">Send</button>
            <input id="message" placeholder="Type Something">
        </div>
        <script>
            var socket = io();

            document.getElementById("send").addEventListener("click", send_message)
            document.addEventListener("keydown", function (e) {
                if (e.key == "Enter") {
                    send_message()
                }
            })


            function send_message() {
                var message = "{{session["user"]}}: "+ document.getElementById("message").value
                if (message.length <= "{{session["user"]}}: ".length) {
                    return None
                }
                socket.emit('send', message)
                document.getElementById("message").value = ""
            }

            socket.on("distribute message", (new_message) => {
                const para = document.createElement("p");
                para.innerText = new_message
                document.getElementById("display_messages").appendChild(para);
                document.getElementById("display_messages").scrollTo(0, document.getElementById("display_messages").scrollHeight);
            })
        </script>
    </div>
</body>

