<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}"

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topnav">
        <div class="homepage_head">The Chatroom</div>
        <a id="create_room" class="homepage_nav" href="/homepage/createroom/">Create a Room</a>
        <a id="active_room" class="homepage_nav" href="/homepage/activerooms">Active Rooms</a>
    </div>
    {% for room in room_table %}
    <div class="room_box"><a class="room" href="/chatroom/{{room[1]}}">{{room[1]}}</a></div>
    {% endfor %}
</body>
</html>